{% extends 'base.html.twig' %}

{% block stylesheets %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
{{  parent() }}
{% endblock %}

{% block body %}

    <div class="container my-4">

        <h1>Gérer les photos de la galerie</h1>

        <a href="{{ path('create-image')}}" class="btn btn-primary my-4">Ajouter une photo</a>

        <div class="d-flex">
        {% for image in images %}
            <div class="card my-2 mx-2" style="width: 12rem;">
                <img src="{{ vich_uploader_asset(image, 'imageFile') }}" class="card-img-top">
                <div class="card-body">
                    <h6>{{image.alt}}</h6>
                    <a href="{{ path('delete-image', {id: image.id}) }}" class="btn btn-danger">Supprimer</a>
                </div>
            </div>
        {% endfor %}
        </div>

    </div>

{% endblock %}

{% block footer %}
    <footer>
        <p>2022 &copy; Nina SELLAL</p>
    </footer>
{% endblock %}