<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <meta name="description" content="coiffeuse à domicile à Dijon et dans la plaine de Saône, spécialisée en perruques médicales, onco-coiffure et traitements des différents traumatismes capillaires">
        <title>{% block title %}Isa Coiffe perruques médicales à Dijon{% endblock %}</title>
        <link rel="icon" type="image/png" href="{{ asset('pictures/favicon.png') }}">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap" rel="stylesheet">
            <link rel="stylesheet" type="text/css" href="{{ asset('style/style.css')}}">
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
            <script src="{{ asset('scripts/functions.js') }}"></script>
        {% endblock %}
    </head>
    
    <body>
        {% block header %}
        <!-- EN-TETE -->
        <header>
            <h1>Isa Coiffe Dijon</h1>
            <span class="separator"></span>
            <h2>Coiffeuse, perruquière diplômée en onco-coiffure</h2>

            <!--LOGO-->
            <img src="{{ asset('pictures/logoCropped.png')}}" alt="logo" id="logo">
        </header>

        <!--MENU DE NAVIGATION-->
        <nav>
            <ul>
            <li><a href="/" title="accueil" class="link-dark text-decoration-none">Accueil</a></li>
            <li><a href="/galerie" title="galerie photo" class="link-dark text-decoration-none">Galerie</a></li>
            <li><a href="#contact" class="link-dark text-decoration-none">Contact</a></li>
            {% if is_granted('ROLE_USER') %}
            <li><a href="/admin-image">Admin photos</a></li>
            <li><a href="/admin-tarifs">Admin tarifs</a></li>
                {% if is_granted('ROLE_ADMIN') %}
                <li><a href="/admin-user">Admin utilisateurs</a></li>
                {% endif %}
            <li><a href="/logout">Se déconnecter</a></li>
            {% endif %}
            </ul>
        </nav>
        {% endblock %}

        {% block body %}
        
        {% endblock %}

        {% block footer %}
        <!--HORAIRES ET CONTACTS-->
        <div class="contener"> 
            <section>
                <h3>Horaires et Contact</h3>

                <div id='contact'>
                    <p>Je suis à votre service du <b>lundi au vendredi de 09:00 à 19:30</b> et le <b>samedi de 09:00 à 13:00</b>.</p>
                    <p>Si vous souhaitez me contacter n'hésitez
                    pas à m'envoyer un email à <b><a href="mailto:isabel.questel@gmail.com">isabel.questel@gmail.com</a></b> </br>
                    ou à m'appeler <b><a href="tel:+33672400799">06.72.40.07.99</a></b>.
                    </p>
                    <p id="siret">Mon numéro d'agrément sécurité sociale est le 21269966 4</br>
                    SIRET 41484918200061 - Code NAF 9602A</p>
                </div>
            </section>
        </div>

        <footer>
            <p>2022 &copy; Nina SELLAL</p>
        </footer>
        {% endblock %}
    </body>
</html>
